body{
background-color: rgb(98, 96, 244);;
}

.topnav{
    background: sandybrown;
    padding: 15px;
    margin: 0px;
}

ul a{
    font-family:'Montserrat', sans-serif;;
    font-size: 24px;
    padding: 14px 16px;
}

image{
    border-radius: 60px;
    width: 150px;
    height: 152px;
}


